<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.6.9.2" defaultlocale="en" id="https://addons.opera.com/extensions/details/violent-monkey/" href="http://geraldl.net/proj/vm?from=oex">
	<name>Violent monkey</name>
	<author href="http://geraldl.net" email="gera2ld@163.com">Gerald</author>
	<icon src="images/icon64.png"/>
	<icon src="images/icon18.png"/>
	<feature name="opera:share-cookies" required="false"/>
	<access origin="*"/>
	<update-description href="https://extension-updates.opera.com/api/w3c-wd1/update/4c1d641e-357a-411a-9d01-4664646eb92c/"/>

	<description xml:lang="en">Userscript support for Opera.</description>
	<description xml:lang="zh">为Opera提供用户脚本支持。</description>
	<description xml:lang="pl">Wsparcie dla UserScriptów w Operze.</description>
	<description xml:lang="ru">Поддержка пользовательских скриптов для Opera.</description>
</widget>
